package main

import (
	"context"
	"database/sql"
	"errors"
	"fmt"
	"os"
	"path/filepath"
	"strings"

	"github.com/lib/pq"
)

func readEnvFile() error {
	basePath, err := os.Getwd()
	if err != nil {
		return err
	}

	data, err := os.ReadFile(filepath.Join(basePath, ".env"))
	if err != nil {
		return err
	}

	lines := strings.Split(string(data), "\n")

	for _, line := range lines {
		line = strings.TrimSpace(line)
		if len(line) == 0 {
			continue
		}

		arr := strings.SplitN(line, "=", 2)
		if len(arr) != 2 {
			continue
		}

		key := strings.TrimSpace(arr[0])
		value := strings.TrimSpace(arr[1])
		if err := os.Setenv(key, value); err != nil {
			return err
		}
	}

	return nil
}

func connectDB() (*sql.DB, error) {
	if err := readEnvFile(); err != nil {
		errorMessage := fmt.Sprintf("error while reading .env file: %v", err)
		return nil, errors.New(errorMessage)
	}

	host := os.Getenv("host")
	port := os.Getenv("port")
	user := os.Getenv("user")
	password := os.Getenv("password")
	dbname := os.Getenv("dbname")

	connStr := fmt.Sprintf("host=%s port=%s user=%s password=%s dbname=%s", host, port, user, password, dbname)

	db, err := sql.Open("postgres", connStr)

	if err != nil {
		return nil, err
	}

	if err := db.Ping(); err != nil {
		return nil, err
	}

	return db, nil
}

{{ range $table := . }}

{{- if $table.IsAuthTable -}}
// AUTH
{{ template "login" $table }}
{{- end -}}
// {{ $table.TableName }} CRUD
{{ template "insert" $table }}
{{ template "readAll" $table }}
{{ template "readByPK" $table }}
{{ template "update" $table }}
{{ template "delete" $table }}

{{- end -}}

{{- define "insert" -}}

func db_insert_ {{- .TableName -}} (ctx context.Context, item *Table_ {{- .TableName -}}) error {
	stmt, err := db.PrepareContext(ctx, `INSERT INTO "{{- .TableName -}}" (

	{{- $n := len .Columns -}}

	{{- range $column := .Columns -}}
		"{{- $column.ColumnName -}}"
		{{- $n = decrease $n -}}
		{{- if gt $n 0 -}}
			{{- ", " -}}
		{{- end -}}
	{{- end -}}

	) VALUES ( 

	{{- $idx := 1 -}}
	{{- $n = len .Columns -}}

	{{- range $column := .Columns -}}
		${{- $idx -}}
		{{- if lt $idx $n -}}
			{{- ", " -}}
		{{- end -}}
		{{- $idx = increase $idx -}}
	{{- end -}}

	)`)

	if err != nil {
		return err
	}

	defer stmt.Close()

	_, err = stmt.ExecContext(ctx,

	{{- $n = len $.Columns -}}

	{{- range $column := .Columns -}}
		{{- if HasSuffix $column.DataType "[]" -}}
			pq.Array(item.Column_  {{- $column.ColumnName -}} )
		{{- else -}}
			item.Column_ {{- $column.ColumnName -}}
		{{- end -}}

		{{- $n = decrease $n -}}
		{{- if gt $n 0 -}}
			{{- ", " -}}
		{{- end -}}

	{{- end -}}

	)

	if err != nil {
		return err
	}

	return nil
}

{{ end }}


{{- define "readAll" -}}
func db_readAll_ {{- .TableName -}} (ctx context.Context, clause string, args []any) ([] Table_ {{- .TableName -}} _ResponseAll, bool, error) {
	recordsCount := args[len(args) - 1].(int) 
	data := make([]Table_ {{- .TableName -}} _ResponseAll, 0, recordsCount - 1)
	
	query := `SELECT {{- " " -}}

	{{- $tableName := .TableName -}}
	{{- $readAllConfig := .TableConfig.ReadAllConfig -}}
	{{- $n := len $readAllConfig.Columns -}}

	{{- if sliceContains $readAllConfig.Columns "__ID" -}}
		"{{- .TableName -}} "."__ID"
		{{- if gt $n 1 -}} , {{- end -}}
		{{- $n = decrease $n }}
	{{- end -}}

	{{- range $column := .Columns -}}
		{{- if or $column.Hash (not (sliceContains $readAllConfig.Columns $column.ColumnName)) -}}
			{{- continue -}}
		{{- else if $column.ForeignTable -}}
			{{- $foreignColumns := getTableColumns $column.ForeignTable -}}
			{{- $selectedForeignColumns := index $readAllConfig.ForeignColumns $column.ColumnName -}}
			
			{{- $fNum := len $selectedForeignColumns -}}
			{{- if $fNum -}}
				{{- if sliceContains $selectedForeignColumns "__ID" -}}
					"{{- $column.ColumnName -}} _ {{- $column.ForeignTable -}} "."__ID"
					{{- if gt $fNum 1 -}} , {{- end -}}
					{{- $fNum = decrease $fNum }}
				{{- end -}}

				{{- range $foreignColumn := $foreignColumns -}}
					{{- if or $foreignColumn.Hash (not (sliceContains $selectedForeignColumns $foreignColumn.ColumnName )) -}}
						{{- continue -}}
					{{- end -}}

					"{{- $column.ColumnName -}} _ {{- $column.ForeignTable -}} "." {{- $foreignColumn.ColumnName -}}"

					{{- $fNum = decrease $fNum -}}	
					{{- if gt $fNum 0 -}}
						{{- ", " -}}
					{{- end -}}
				{{- end -}}
			{{- else -}}
				" {{- $tableName -}} "." {{- $column.ColumnName -}}"
			{{- end -}}

		{{- else -}}
			" {{- $tableName -}} "." {{- $column.ColumnName -}}"
		{{- end -}}

		{{- $n = decrease $n -}}
		{{- if gt $n 0 -}}
			{{- ", " -}}
		{{- end -}}

	{{- end -}}

	{{- " " -}} FROM "{{ $tableName }}"

	{{- range $column := .Columns -}}
		{{- if and $column.ForeignTable (len (index $readAllConfig.ForeignColumns $column.ColumnName)) -}}
				{{- " LEFT JOIN " -}} "{{- $column.ForeignTable -}}" AS "{{- $column.ColumnName -}} _ {{- $column.ForeignTable -}}"
				{{- " ON " -}} "{{- $tableName -}} "."  {{- $column.ColumnName -}}"
				{{- " = " -}} "{{- $column.ColumnName -}} _ {{- $column.ForeignTable -}} "." {{- $column.ForeignField -}}"
		{{- end -}}
	{{- end -}}
	`

	{{ $protectedFields := .TableConfig.ReadByPkAuth.ProtectedFields }}
	{{ if $protectedFields }}
		var protectClause []string
		role := ctx.Value(ContextKey("__role")).(string)
		var rolesMap map[string][]interface{}
		{{ range $column := .Columns }}
			{{ $valuesMap := index $protectedFields $column.ColumnName }}
			{{ if $valuesMap }}
				rolesMap = {{ printf "%#v" (getProtectedValuesByRole $valuesMap $column.DataType) }}
				if disallowedValues := rolesMap[role]; len(disallowedValues) > 0 {
					{{ if HasSuffix $column.DataType "[]" }}
					protectClause = append(protectClause, fmt.Sprintf(`NOT "{{ $tableName }}"."{{ $column.ColumnName }}" @> ARRAY[%s]::{{ $column.DataType }}`,  getArgPlaceHolders(len(args) + 1, len(disallowedValues))))
					{{ else }}
					protectClause = append(protectClause, fmt.Sprintf(`"{{ $tableName }}"."{{ $column.ColumnName }}" NOT IN (%s)`,  getArgPlaceHolders(len(args) + 1, len(disallowedValues))))
					{{ end }}
					args = append(args, disallowedValues...)
				}
			{{ end }}
		{{ end }}

		if len(protectClause) > 0 {
			query += fmt.Sprintf(` WHERE %s`, strings.Join(protectClause, " AND "))

			if strings.HasPrefix(clause, " WHERE") {
				clause = strings.TrimPrefix(clause, " WHERE")
				clause = " AND" + clause
			}
		}

	{{ end }}

	query += clause

	preparedQuery, err := db.PrepareContext(ctx, query)

	if err != nil {
		return data, false, err
	}

	defer preparedQuery.Close()

	rows, err := preparedQuery.QueryContext(ctx, args...)

	if err != nil {
		return data, false, err
	}

	defer rows.Close()
	nextFlag := false

	for rows.Next() {
		recordsCount--
		if recordsCount == 0 {
			nextFlag = true
			break
		}

		item := Table_ {{- .TableName -}} _ResponseAll{}
		
		rows.Scan(
		
		{{- $n = len $readAllConfig.Columns  -}}

		{{- if sliceContains $readAllConfig.Columns "__ID" -}}
			&item.ID__
			{{- if gt $n 1 -}} , {{- end -}}
			{{- $n = decrease $n }}
		{{- end -}}

		{{- range $column := .Columns -}}
			{{- if or $column.Hash (not (sliceContains $readAllConfig.Columns $column.ColumnName)) -}}
				{{- continue -}}
			{{- else if $column.ForeignTable -}}
				{{- $foreignColumns := getTableColumns $column.ForeignTable -}}
				{{- $selectedForeignColumns := index $readAllConfig.ForeignColumns $column.ColumnName -}}
				{{- $fNum := len $selectedForeignColumns -}}

				{{- if $selectedForeignColumns -}}
					{{- if sliceContains $selectedForeignColumns "__ID" -}}
						&item.Column_ {{- $column.ColumnName -}} .ID__ -}}
						{{- if gt $fNum 1 -}} , {{- end -}}
						{{- $fNum = decrease $fNum -}}
					{{- end -}}

					{{- range $foreignColumn := $foreignColumns -}}
						{{- if or $foreignColumn.Hash (not (sliceContains $selectedForeignColumns $foreignColumn.ColumnName )) -}}
							{{- continue -}}
						{{- else if HasSuffix $foreignColumn.DataType "[]" -}}
							pq.Array(&item.Column_ {{- $column.ColumnName -}} .Column_ {{- $foreignColumn.ColumnName -}} )
						{{- else -}}
							&item.Column_ {{- $column.ColumnName -}} .Column_ {{- $foreignColumn.ColumnName -}}
						{{- end -}}

						{{- $fNum = decrease $fNum -}}
						{{- if gt $fNum 0 -}}
							{{- ", " -}}
						{{- end -}}
					{{- end -}}
				{{- else -}}
					{{- if HasSuffix $column.DataType "[]" -}}
						pq.Array(&item.Column_  {{- $column.ColumnName -}} )
					{{- else -}}
						&item.Column_ {{- $column.ColumnName -}}
					{{- end -}}
				{{- end -}}
			{{- else -}}
				{{- if HasSuffix $column.DataType "[]" -}}
					pq.Array(&item.Column_  {{- $column.ColumnName -}} )
				{{- else -}}
					&item.Column_ {{- $column.ColumnName -}}
				{{- end -}}
			{{- end -}}

			{{- $n = decrease $n -}}
			{{- if gt $n 0 -}}
				{{- ", " -}}
			{{- end -}}

		{{- end -}}

		)

		data = append(data, item)
	}

	return data, nextFlag, nil
}

{{- end -}}

{{ define "readByPK" }}
func db_read_ {{- .TableName -}} _ByPK(ctx context.Context, id string) (Table_ {{- .TableName -}} _ResponsePK, error) {
	item := Table_ {{- .TableName -}} _ResponsePK{}

	args := []any{id}

	query := `SELECT {{- " " -}}

	{{- $tableName := .TableName -}}
	{{- $readPkConfig := .TableConfig.ReadByPkConfig -}}
	{{- $n := len $readPkConfig.Columns -}}

	{{- if sliceContains $readPkConfig.Columns "__ID" -}}
		"{{- .TableName -}} "."__ID"
		{{- if gt $n 1 -}} , {{- end -}}
		{{- $n = decrease $n }}
	{{- end -}}

	{{- range $column := .Columns -}}
		{{- if or $column.Hash (not (sliceContains $readPkConfig.Columns $column.ColumnName)) -}}
			{{- continue -}}
		{{- else if $column.ForeignTable -}}
			{{- $foreignColumns := getTableColumns $column.ForeignTable -}}
			{{- $selectedForeignColumns := index $readPkConfig.ForeignColumns $column.ColumnName -}}
			{{- $fNum := len $selectedForeignColumns -}}

			{{- if $fNum -}}
				{{- if sliceContains $selectedForeignColumns "__ID" -}}
					"{{- $column.ColumnName -}} _ {{- $column.ForeignTable -}} "."__ID"
					{{- if gt $fNum 1 -}} , {{- end -}}
					{{- $fNum = decrease $fNum }}
				{{- end -}}

				{{- range $foreignColumn := $foreignColumns -}}
					{{- if or $foreignColumn.Hash (not (sliceContains $selectedForeignColumns $foreignColumn.ColumnName )) -}}
						{{- continue -}}
					{{- end -}}

					" {{- $column.ColumnName -}} _ {{- $column.ForeignTable -}} "." {{- $foreignColumn.ColumnName -}}"
					
					{{- $fNum = decrease $fNum -}}
					{{- if gt $fNum 0 -}}
						{{- ", " -}}
					{{- end -}}
				{{- end -}}
			{{- else -}}
					" {{- $tableName -}} "." {{- $column.ColumnName -}}"
			{{- end -}}
		{{- else -}}
			" {{- $tableName -}} "." {{- $column.ColumnName -}}"
		{{- end -}}

		{{- $n = decrease $n -}}
		{{- if gt $n 0 -}}
			{{- ", " -}}
		{{- end -}}

	{{- end -}}

	{{- " " -}} FROM "{{ $tableName }}"

	{{- range $column := .Columns -}}
		{{- if and $column.ForeignTable (len (index $readPkConfig.ForeignColumns $column.ColumnName)) -}}
			{{- " LEFT JOIN " -}} "{{- $column.ForeignTable -}}" AS "{{- $column.ColumnName -}} _ {{- $column.ForeignTable -}}"
			{{- " ON " -}} "{{- $tableName -}} "."  {{- $column.ColumnName -}}"
			{{- " = " -}} "{{- $column.ColumnName -}} _ {{- $column.ForeignTable -}} "."  {{- $column.ForeignField -}}"
		{{- end -}}
	{{- end -}}

	{{- " WHERE " -}}
	
	{{- if eq (len .PrimaryKey) 0 -}}
		 "{{- .TableName -}} "."__ID" 
	{{- else -}}
		"{{- .TableName -}} "."  {{- .PrimaryKey -}}" 
	{{- end -}}
	
	{{- " " -}} = $1`

	{{ $ctxValDeclared := false }}
	{{ $tableName := .TableName }}
	{{ $userField := .TableConfig.ReadByPkAuth.UserField }}
	{{ $orgFields := .TableConfig.ReadByPkAuth.OrgFields }}

	{{ if $userField }}
		{{ if not $ctxValDeclared }}
			ctxVal := ctx.Value(ContextKey("{{ $userField }}"))
			{{ $ctxValDeclared = true }}
		{{ else }}
			ctxVal = ctx.Value(ContextKey("{{ $userField }}"))
		{{ end }}

		if ctxVal != nil {
			value := ctxVal.(string)
			args = append(args, value)
			query += fmt.Sprintf(` AND "{{ $tableName }}"."{{ $userField }}" = $%d`, len(args))
		}
	{{ end }}

	{{ range $orgField, $tokenField := $orgFields }}
		{{ if not $ctxValDeclared }}
			ctxVal := ctx.Value(ContextKey("{{ $orgField }}"))
			{{ $ctxValDeclared = true }}
		{{ else }}
			ctxVal = ctx.Value(ContextKey("{{ $orgField }}"))
		{{ end }}

		if ctxVal != nil {
			value := ctxVal.(string)
			args = append(args, value)
			query += fmt.Sprintf(` AND "{{ $tableName }}"."{{ $orgField }}" = $%d`, len(args))
		}
	{{ end }}

	{{ $protectedFields := .TableConfig.ReadByPkAuth.ProtectedFields }}
	{{ if $protectedFields }}
		role := ctx.Value(ContextKey("__role")).(string)
		var rolesMap map[string][]interface{}
		{{ range $column := .Columns }}
			{{ $valuesMap := index $protectedFields $column.ColumnName }}
			{{ if $valuesMap }}
				rolesMap = {{ printf "%#v" (getProtectedValuesByRole $valuesMap $column.DataType) }}
				if disallowedValues := rolesMap[role]; len(disallowedValues) > 0 {
					{{ if HasSuffix $column.DataType "[]" }}
					query += fmt.Sprintf(` AND NOT "{{ $tableName }}"."{{ $column.ColumnName }}" @> ARRAY[%s]::{{ $column.DataType }}`,  getArgPlaceHolders(len(args) + 1, len(disallowedValues)))
					{{ else }}
					query += fmt.Sprintf(` AND "{{ $tableName }}"."{{ $column.ColumnName }}" NOT IN (%s)`,  getArgPlaceHolders(len(args) + 1, len(disallowedValues)))
					{{ end }}
					args = append(args, disallowedValues...)
				}
			{{ end }}
		{{ end }}
	{{ end }}

	stmt, err := db.PrepareContext(ctx, query)

	if err != nil {
		return item, err
	}

	defer stmt.Close()

	if err := stmt.QueryRowContext(ctx, args...).Scan(

	{{- $n = len $readPkConfig.Columns  -}}

	{{- if sliceContains $readPkConfig.Columns "__ID" -}}
			&item.ID__
			{{- if gt $n 1 -}} , {{- end -}}
			{{- $n = decrease $n }}
		{{- end -}}

	{{- range $column := .Columns -}}
		{{- if or $column.Hash (not (sliceContains $readPkConfig.Columns $column.ColumnName)) -}}
			{{- continue -}}
		{{- else if $column.ForeignTable -}}
			{{- $foreignColumns := getTableColumns $column.ForeignTable -}}
			{{- $selectedForeignColumns := index $readPkConfig.ForeignColumns $column.ColumnName -}}
			{{- $fNum := len $selectedForeignColumns -}}

			{{- if $selectedForeignColumns -}}
				{{- if sliceContains $selectedForeignColumns "__ID" -}}
					&item.Column_ {{- $column.ColumnName -}} .ID__ -}}
					{{- if gt $fNum 1 -}} , {{- end -}}
					{{- $fNum = decrease $fNum -}}
				{{- end -}}

				{{- range $foreignColumn := $foreignColumns -}}
					{{- if or $foreignColumn.Hash (not (sliceContains $selectedForeignColumns $foreignColumn.ColumnName )) -}}
						{{- continue -}}
					{{- else if HasSuffix $foreignColumn.DataType "[]" -}}
						pq.Array(&item.Column_ {{- $column.ColumnName -}} .Column_ {{- $foreignColumn.ColumnName -}} )
					{{- else -}}
						&item.Column_ {{- $column.ColumnName -}} .Column_ {{- $foreignColumn.ColumnName -}}
					{{- end -}}

					{{- $fNum = decrease $fNum -}}
					{{- if gt $fNum 0 -}}
						{{- ", " -}}
					{{- end -}}
				{{- end -}}
			{{- else -}}
				{{- if HasSuffix $column.DataType "[]" -}}
					pq.Array(&item.Column_  {{- $column.ColumnName -}} )
				{{- else -}}
					&item.Column_ {{- $column.ColumnName -}}
				{{- end -}}
			{{- end -}}
		{{- else -}}
			{{- if HasSuffix $column.DataType "[]" -}}
				pq.Array(&item.Column_  {{- $column.ColumnName -}} )
			{{- else -}}
				&item.Column_ {{- $column.ColumnName -}}
			{{- end -}}
		{{- end -}}

		{{- $n = decrease $n -}}
		{{- if gt $n 0 -}}
			{{- ", " -}}
		{{- end -}}

	{{- end -}}
	
	
	); err != nil {
		return item, err
	}

	return item, nil
}

{{ end }}

{{ define "update" }}

func db_update_ {{- .TableName -}} (ctx context.Context, id string, item *Table_ {{- .TableName -}}) error {
	args := []any{
	{{- if eq (len .PrimaryKey) 0 -}}
		item.ID__,
	{{- end -}}
	
	{{- range $column := .Columns -}}
		{{- if HasSuffix $column.DataType "[]" -}}
			pq.Array(item.Column_  {{- $column.ColumnName -}} ),
		{{- else -}}
			item.Column_ {{- $column.ColumnName -}},
		{{- end -}} 
	{{- end -}}
	
	id}

	query := `UPDATE "{{- .TableName -}}" SET {{- " " -}}

	{{- $idx := 1 -}}
	{{- $n := len .Columns -}}

	{{- if eq (len .PrimaryKey) 0 -}}
		"__ID" = $1, {{- " " -}}
		{{- $idx = increase $idx -}}
		{{- $n = increase $n -}}
	{{- end -}}

	{{- range $column := .Columns -}}
		"{{ $column.ColumnName -}}" = $ {{- $idx -}}

		{{- if lt $idx $n -}}
			{{- ", " -}}
		{{- end -}}

		{{- $idx = increase $idx -}}

	{{- end -}}

	{{- " " -}} WHERE {{- " " -}}
	
	{{- if eq (len .PrimaryKey) 0 -}}
		"__ID" = $ {{- $idx -}}
	{{- else -}}
		"{{ .PrimaryKey }}" = $ {{- $idx -}}
	{{- end -}}

	`

	{{ $ctxValDeclared := false }}
	{{ $tableName := .TableName }}
	{{ $userField := .TableConfig.UpdateAuth.UserField }}
	{{ $orgFields := .TableConfig.UpdateAuth.OrgFields }}

	{{ if $userField }}
		{{ if not $ctxValDeclared }}
			ctxVal := ctx.Value(ContextKey("{{ $userField }}"))
			{{ $ctxValDeclared = true }}
		{{ else }}
			ctxVal = ctx.Value(ContextKey("{{ $userField }}"))
		{{ end }}

		if ctxVal != nil {
			value := ctxVal.(string)
			args = append(args, value)
			query += fmt.Sprintf(` AND "{{ $tableName }}"."{{ $userField }}" = $%d`, len(args))
		}
	{{ end }}

	{{ range $orgField, $tokenField := $orgFields }}
		{{ if not $ctxValDeclared }}
			ctxVal := ctx.Value(ContextKey("{{ $orgField }}"))
			{{ $ctxValDeclared = true }}
		{{ else }}
			ctxVal = ctx.Value(ContextKey("{{ $orgField }}"))
		{{ end }}

		if ctxVal != nil {
			value := ctxVal.(string)
			args = append(args, value)
			query += fmt.Sprintf(` AND "{{ $tableName }}"."{{ $orgField }}" = $%d`, len(args))
		}
	{{ end }}

	{{ $protectedFields := .TableConfig.UpdateAuth.ProtectedFields }}
	{{ if $protectedFields }}
		role := ctx.Value(ContextKey("__role")).(string)
		var rolesMap map[string][]interface{}
		{{ range $column := .Columns }}
			{{ $valuesMap := index $protectedFields $column.ColumnName }}
			{{ if $valuesMap }}
				rolesMap = {{ printf "%#v" (getProtectedValuesByRole $valuesMap $column.DataType) }}
				if disallowedValues := rolesMap[role]; len(disallowedValues) > 0 {
					{{ if HasSuffix $column.DataType "[]" }}
					query += fmt.Sprintf(` AND NOT "{{ $tableName }}"."{{ $column.ColumnName }}" @> ARRAY[%s]::{{ $column.DataType }}`,  getArgPlaceHolders(len(args) + 1, len(disallowedValues)))
					{{ else }}
					query += fmt.Sprintf(` AND "{{ $tableName }}"."{{ $column.ColumnName }}" NOT IN (%s)`,  getArgPlaceHolders(len(args) + 1, len(disallowedValues)))
					{{ end }}
					args = append(args, disallowedValues...)
				}
			{{ end }}
		{{ end }}
	{{ end }}
	
	stmt, err := db.PrepareContext(ctx, query)

	if err != nil {
		return err
	}

	defer stmt.Close()

	result, err := stmt.ExecContext(ctx, args...)

	if err != nil {
		return err
	}

	if rowsUpdated, _ := result.RowsAffected(); rowsUpdated == 0 {
		return errors.New("no row found with provided id")
	}

	return nil
}

{{ end }}

{{ define "delete" }}

func db_delete_ {{- .TableName -}} (ctx context.Context, id string) error {
	args := []any{id}

	query := `DELETE FROM "{{- .TableName -}}" WHERE {{- " " -}}
	
	{{- if eq (len .PrimaryKey) 0 -}}
		"__ID" = $1
	{{- else -}}
		"{{- .PrimaryKey -}}" = $1
	{{- end -}}

	`

	{{ $ctxValDeclared := false }}
	{{ $tableName := .TableName }}
	{{ $userField := .TableConfig.DeleteAuth.UserField }}
	{{ $orgFields := .TableConfig.DeleteAuth.OrgFields }}

	{{ if $userField }}
		{{ if not $ctxValDeclared }}
			ctxVal := ctx.Value(ContextKey("{{ $userField }}"))
			{{ $ctxValDeclared = true }}
		{{ else }}
			ctxVal = ctx.Value(ContextKey("{{ $userField }}"))
		{{ end }}

		if ctxVal != nil {
			value := ctxVal.(string)
			args = append(args, value)
			query += fmt.Sprintf(` AND "{{ $tableName }}"."{{ $userField }}" = $%d`, len(args))
		}
	{{ end }}

	{{ range $orgField, $tokenField := $orgFields }}
		{{ if not $ctxValDeclared }}
			ctxVal := ctx.Value(ContextKey("{{ $orgField }}"))
			{{ $ctxValDeclared = true }}
		{{ else }}
			ctxVal = ctx.Value(ContextKey("{{ $orgField }}"))
		{{ end }}

		if ctxVal != nil {
			value := ctxVal.(string)
			args = append(args, value)
			query += fmt.Sprintf(` AND "{{ $tableName }}"."{{ $orgField }}" = $%d`, len(args))
		}
	{{ end }}

	{{ $protectedFields := .TableConfig.DeleteAuth.ProtectedFields }}
	{{ if $protectedFields }}
		role := ctx.Value(ContextKey("__role")).(string)
		var rolesMap map[string][]interface{}
		{{ range $column := .Columns }}
			{{ $valuesMap := index $protectedFields $column.ColumnName }}
			{{ if $valuesMap }}
				rolesMap = {{ printf "%#v" (getProtectedValuesByRole $valuesMap $column.DataType) }}
				if disallowedValues := rolesMap[role]; len(disallowedValues) > 0 {
					{{ if HasSuffix $column.DataType "[]" }}
					query += fmt.Sprintf(` AND NOT "{{ $tableName }}"."{{ $column.ColumnName }}" @> ARRAY[%s]::{{ $column.DataType }}`,  getArgPlaceHolders(len(args) + 1, len(disallowedValues)))
					{{ else }}
					query += fmt.Sprintf(` AND "{{ $tableName }}"."{{ $column.ColumnName }}" NOT IN (%s)`,  getArgPlaceHolders(len(args) + 1, len(disallowedValues)))
					{{ end }}
					args = append(args, disallowedValues...)
				}
			{{ end }}
		{{ end }}
	{{ end }}

	stmt, err := db.PrepareContext(ctx, query)

	if err != nil {
		return err
	}

	defer stmt.Close()

	result, err := stmt.ExecContext(ctx, args...)

	if err != nil {
		return err
	}

	if rowsDeleted, _ := result.RowsAffected(); rowsDeleted == 0 {
		return errors.New("no row found with provided id")
	}

	return nil
}

{{ end }}

{{ define "login" }}

func db_auth_login(ctx context.Context, login_data *Login_Input) (Login_Output, error) {
	stmt, err := db.PrepareContext(ctx, `SELECT "username", "password"
	
	{{- range $column := .Columns -}}
		{{- if eq $column.ColumnName "role" -}}
			, "role"
			{{- break -}}
		{{- end -}}
	{{- end -}}

	{{- range $field := getOrgFields -}}
		, "{{- $field }}"
	{{- end -}}
	
	{{- " " -}} FROM "{{ .TableName }}" WHERE username = $1`)

	var item Login_Output

	if err != nil {
	}

	defer stmt.Close()

	err = stmt.QueryRowContext(ctx, login_data.Username).Scan(&item.Username, &item.Password
	
	{{- range $column := .Columns -}}
		{{- if eq $column.ColumnName "role" -}}
			, &item.Role
			{{- break -}}
		{{- end -}}
	{{- end -}}

	{{- range $field := getOrgFields -}}
		, &item. {{- capitalize $field }}
	{{- end -}}

	)

	if err != nil {
		return item, err
	}

	return item, nil
}

{{ end }}