package main

{{ range $table := . }}
{{ if .IsAuthTable }}
import "github.com/golang-jwt/jwt/v5"
{{ break }}
{{ end }}
{{- end -}}

type Column struct {
	ColumnName    string
	DataType      string
	NotNull       bool
	minIndividual interface{}
	maxIndividual interface{}
	minArrLen     int // 0 indicates unset or non-array type
	maxArrLen     int // 0 indicates unset or non-array type
	Enums         []interface{}
	pgType        string
}

{{ range $table := . }}

{{- if .IsAuthTable -}}
    {{ template "TableStruct" $table }}
    {{ template "LoginStructs" $table }}
{{- else -}}
    {{ template "TableStruct" $table }}
    {{ template "TableResponse" $table }}
    {{ template "TableMap" $table }}
{{- end -}}

{{- end -}}

{{- define "TableStruct" -}}
type Table_{{ .TableName }} struct {
    {{- if eq (len .PrimaryKey) 0 -}}
        ID__ CustomNullInt `json:"__ID"`;
    {{- end -}}

    {{- range $column := .Columns -}}
	    Column_{{ $column.ColumnName }} {{ getDbType $column.DataType }} `json:"{{ $column.ColumnName }}"`;
    {{- end -}}
}
{{- end -}}

{{ define "TableResponse" }}
type Table_ {{- .TableName -}} _response struct {
    {{- if eq (len .PrimaryKey) 0 -}}
    ID__ CustomNullInt `json:"__ID"`;
    {{- end -}}

    {{- range $column := .Columns -}}
        {{- if $column.ForeignTable -}}
            Fkey_{{ $column.ColumnName }} Table_{{ $column.ForeignTable }} `json:"{{ $column.ColumnName }}"`;
        {{- else -}}
            Column_{{ $column.ColumnName }} {{ getDbType $column.DataType }} `json:"{{ $column.ColumnName }}"`;
        {{- end -}}
    {{- end -}}
}
{{ end }}

{{ define "TableMap" }}
var Map_ {{- .TableName -}} = map[string]Column {
{{ range $column := .Columns }}
    "{{ $column.ColumnName }}" : {  
        ColumnName: " {{- $column.ColumnName -}} ",
        DataType: " {{- getDbType $column.DataType -}} ",
        NotNull: {{ $column.NotNull -}},
        pgType: " {{- $column.DataType -}} ",
    },
{{ end }}
}
{{ end }}

{{ define "LoginStructs" }}
type CustomJwtClaims struct {
	Username string `json:"username"`;
    {{ range $column := .Columns }}
    {{- if eq $column.ColumnName "role" -}}
    Role     string `json:"role"`;
    {{- else if eq $column.ColumnName "orgId" -}}
    OrgId    string `json:"orgId"`;
    {{- end -}}
    {{- end -}}
	jwt.RegisteredClaims
}

type Login_Input struct {
	Username CustomNullString `json:"username"`
	Password CustomNullString `json:"password"`
}

type Login_Output struct {
	Username CustomNullString `json:"username"`;
	Password CustomNullString `json:"password"`;
    {{- range $column := .Columns -}}
    {{- if eq $column.ColumnName "role" -}}
    Role     CustomNullString `json:"role"`;
    {{- else if eq $column.ColumnName "orgId" -}}
    OrgId    CustomNullString `json:"orgId"`;
    {{- end -}}
    {{- end -}}
}
{{ end }}